{% load static %}

<!-- En este HTML hay que cambiar los elementos comentados para que sean indicados para la respectiva funcionalidad-->

<!DOCTYPE html>
<html lang="english">
  <head>
    <title>Partners y contratacion</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {
        line-height: 1.15;
      }
      body {
        margin: 0;
      }
      * {
        box-sizing: border-box;
        border-width: 0;
        border-style: solid;
      }
      p,
      li,
      ul,
      pre,
      div,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      figure,
      blockquote,
      figcaption {
        margin: 0;
        padding: 0;
      }
      button {
        background-color: transparent;
      }
      button,
      input,
      optgroup,
      select,
      textarea {
        font-family: inherit;
        font-size: 100%;
        line-height: 1.15;
        margin: 0;
      }
      button,
      select {
        text-transform: none;
      }
      button,
      [type="button"],
      [type="reset"],
      [type="submit"] {
        -webkit-appearance: button;
      }
      button::-moz-focus-inner,
      [type="button"]::-moz-focus-inner,
      [type="reset"]::-moz-focus-inner,
      [type="submit"]::-moz-focus-inner {
        border-style: none;
        padding: 0;
      }
      button:-moz-focus,
      [type="button"]:-moz-focus,
      [type="reset"]:-moz-focus,
      [type="submit"]:-moz-focus {
        outline: 1px dotted ButtonText;
      }
      a {
        color: inherit;
        text-decoration: inherit;
      }
      input {
        padding: 2px 4px;
      }
      img {
        display: block;
      }
      html {
        scroll-behavior: smooth;
      }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-theme-neutral-dark);
        background: var(--dl-color-theme-neutral-light);

        fill: var(--dl-color-theme-neutral-dark);
      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
  </head>
  <body>
    <link rel="stylesheet" href="{% static 'css/busqServiciosStyle.css' %}" />
    <div>
      <link rel="stylesheet" href="{% static 'css/busqServicios.css' %}" />

      <div class="partnersycontratacion-container">
        <div class="partnersycontratacion-partnersycontratacion">
          <div class="partnersycontratacion-frame3">
            <div class="index-header">
              <a href="{% url 'pettiApp:index' %}">
                <img
                  src="{% static 'images/logo1.png' %}"
                  alt="IMAGE2111261"
                  class="index-image2111"
                />
              </a>

              <div class="index-navigation-pill-list">
                <div class="index-navigation-pill1"></div>
                <div class="index-navigation-pill2"></div>
                <div class="index-navigation-pill3">
                  <span class="index-text10 SingleLineBodyBase">
                    <a href="{% url 'pettiApp:perfil_partner' %}"
                      >Perfil Partner</a
                    >
                  </span>
                </div>
                <div class="index-navigation-pill4">
                  <span class="index-text12 SingleLineBodyBase">
                    <a href="{% url 'pettiApp:busqueda_servicios' %}"
                      >Nuestros Servicios</a
                    >
                  </span>
                </div>
                <div class="index-navigation-pill5">
                  <span class="index-text14 SingleLineBodyBase"></span>
                </div>
              </div>
              <div class="index-header-auth">
                <a href="{% url 'pettiApp:login' %}" class="index-button1">
                  Iniciar sesión
                </a>

                <a
                  href="{% url 'pettiApp:registro_usuarios' %}"
                  class="index-button2"
                >
                  <button>Regístrate</button>
                </a>
              </div>
            </div>

            <div class="partnersycontratacion-card-grid-image">
              <div class="partnersycontratacion-text-content-heading">
                <span class="partnersycontratacion-text111 TitlePage">
                  <span>Conoce y contrata a nuestros partners</span>
                </span>
                <span class="partnersycontratacion-text113 Subheading">
                  <span>
                    Trabajo de calidad y proporcionado por expertos
                    independientes
                  </span>
                </span>
              </div>
            </div>
            <div class="partnersycontratacion-page-product-results">
              <div class="partnersycontratacion-filter-menu">
                <div class="partnersycontratacion-section10">
                  <div class="partnersycontratacion-text115">
                    <span class="partnersycontratacion-text116 BodyBase">
                      <span>Servicios</span>
                    </span>
                  </div>
                  <div class="partnersycontratacion-keyword-list10">
                    <!-- Funcionalidad filtrar servicios de peluqueria-->
                    <div class="partnersycontratacion-tag10">
                      <span
                        class="partnersycontratacion-text118 SingleLineBodyBase"
                      >
                        <span>Peluquería</span>
                      </span>
                      <button>
                        <img
                          src="{% static 'images/equis.svg' %}"
                          alt="XI126"
                          class="partnersycontratacion-x1"
                        />
                      </button>
                    </div>

                    <!-- Funcionalidad filtrar servicios de cuidado de mascotas-->
                    <div class="partnersycontratacion-tag11">
                      <span
                        class="partnersycontratacion-text120 SingleLineBodyBase"
                      >
                        <span>Cuidado</span>
                      </span>
                      <button>
                        <img
                          src="{% static 'images/equis.svg' %}"
                          alt="XI126"
                          class="partnersycontratacion-x2"
                        />
                      </button>
                    </div>

                    <!-- Funcionalidad filtrar servicios de paseos-->
                    <div class="partnersycontratacion-tag12">
                      <span
                        class="partnersycontratacion-text122 SingleLineBodyBase"
                      >
                        <span>Paseos</span>
                      </span>
                      <button>
                        <img
                          src="{% static 'images/equis.svg' %}"
                          alt="XI126"
                          class="partnersycontratacion-x3"
                        />
                      </button>
                    </div>
                  </div>
                </div>

                <!-- Filtrar servicio por precio -->
                <div class="partnersycontratacion-slider-field">
                  <div class="partnersycontratacion-label">
                    <span class="partnersycontratacion-text124 BodyBase">
                      <span>Precio</span>
                    </span>
                    <div class="partnersycontratacion-slider-output">
                      <span class="partnersycontratacion-text126 BodySmall">
                        $
                      </span>
                      <span class="partnersycontratacion-text127 BodySmall">
                        <span>5.000 - $20.000</span>
                      </span>
                    </div>
                  </div>

                  <!-- Funcionalidad filtrar por precio con range (compacto)-->
                  <div class="partnersycontratacion-slider1">
                    <input
                      type="range"
                      class="form-range partnersycontratacion-slider2"
                      min="5000"
                      max="20000"
                      step="1000"
                      value="5000"
                      id="priceRange"
                      aria-label="Rango de precio"
                      style="width: 100%; height: 8px; margin-top: 5px"
                    />
                  </div>
                </div>

                <!-- Funcionalidad filtrar servicios por los diferentes animales-->
                <div class="partnersycontratacion-section11">
                  <div class="partnersycontratacion-text129">
                    <span class="partnersycontratacion-text130 BodyBase">
                      <span>Mascotas</span>
                    </span>
                  </div>
                  <div class="partnersycontratacion-checkbox-group">
                    <div class="partnersycontratacion-checkbox-field1">
                      <div class="partnersycontratacion-checkboxand-label1">
                        <div class="partnersycontratacion-checkbox1">
                          <input
                            type="checkbox"
                            class="registrodesesindeusuarios-check1"
                          />
                        </div>
                        <span class="partnersycontratacion-text132 BodyBase">
                          <span>Todos</span>
                        </span>
                      </div>
                    </div>
                    <div class="partnersycontratacion-checkbox-field2">
                      <div class="partnersycontratacion-checkboxand-label2">
                        <div class="partnersycontratacion-checkbox2">
                          <input
                            type="checkbox"
                            class="registrodesesindeusuarios-check2"
                          />
                        </div>
                        <span class="partnersycontratacion-text134 BodyBase">
                          <span>Perros</span>
                        </span>
                      </div>
                    </div>
                    <div class="partnersycontratacion-checkbox-field3">
                      <div class="partnersycontratacion-checkboxand-label3">
                        <div class="partnersycontratacion-checkbox3">
                          <input
                            type="checkbox"
                            class="registrodesesindeusuarios-check3"
                          />
                        </div>
                        <span class="partnersycontratacion-text136 BodyBase">
                          <span>Gatos</span>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="partnersycontratacion-checkboxand-label4">
                    <div class="partnersycontratacion-checkbox4">
                      <input
                        type="checkbox"
                        class="registrodesesindeusuarios-check4"
                      />
                    </div>
                    <span class="partnersycontratacion-text138 BodyBase">
                      <span>Roedores</span>
                    </span>
                  </div>
                  <div class="partnersycontratacion-checkboxand-label5">
                    <div class="partnersycontratacion-checkbox5">
                      <input
                        type="checkbox"
                        class="registrodesesindeusuarios-check5"
                      />
                    </div>
                    <span class="partnersycontratacion-text140 BodyBase">
                      <span>Pájaros</span>
                    </span>
                  </div>
                  <div class="partnersycontratacion-checkboxand-label6">
                    <div class="partnersycontratacion-checkbox6">
                      <input
                        type="checkbox"
                        class="registrodesesindeusuarios-check6"
                      />
                    </div>
                    <span class="partnersycontratacion-text142 BodyBase">
                      <span>Otros</span>
                    </span>
                  </div>
                </div>
              </div>
              <div class="partnersycontratacion-section-product-grid">
                <div class="partnersycontratacion-filter-bar">
                  <!-- Input Funcionalidad buscar servicios (texto-lupa) -->
                  <div class="partnersycontratacion-search-filter">
                    <div class="partnersycontratacion-search1">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Buscar"
                        aria-label="Buscar servicios"
                      />
                      <button>
                        <img
                          src="{% static 'images/lupa.svg' %}"
                          alt="Buscar"
                          class="partnersycontratacion-search2"
                        />
                      </button>
                    </div>
                  </div>

                  <!-- Ordenar por ascendente,descendente, calificacion -->
                  <div
                    class="partnersycontratacion-tag-toggle-group btn-group"
                    role="group"
                    aria-label="Filtros"
                  >
                    <!-- Botón Precio descendente -->
                    <button
                      type="button"
                      class="partnersycontratacion-tag-toggle1 btn active"
                    >
                      <img
                        src="{% static 'images/check.svg' %}"
                        alt="Check"
                        class="partnersycontratacion-check7"
                      />
                      <span
                        class="partnersycontratacion-text146 SingleLineBodyBase"
                      >
                        <span>Precio descendente</span>
                      </span>
                    </button>

                    <!-- Botón Precio ascendente -->
                    <button
                      type="button"
                      class="partnersycontratacion-tag-toggle2 btn"
                    >
                      <img
                        src="{% static 'images/check.svg' %}"
                        alt="Check"
                        class="partnersycontratacion-check7 d-none"
                      />
                      <span
                        class="partnersycontratacion-text148 SingleLineBodyBase"
                      >
                        <span>Precio ascendente</span>
                      </span>
                    </button>

                    <!-- Botón Calificación -->
                    <button
                      type="button"
                      class="partnersycontratacion-tag-toggle3 btn"
                    >
                      <img
                        src="{% static 'images/check.svg' %}"
                        alt="Check"
                        class="partnersycontratacion-check7 d-none"
                      />
                      <span
                        class="partnersycontratacion-text150 SingleLineBodyBase"
                      >
                        <span>Calificación</span>
                      </span>
                    </button>
                  </div>
                </div>
                <pre>partners: {{ partners }}</pre>
                <hr />
                <pre>
for:
{% for partner in partners %}
  {{ partner }}
{%endfor%}
</pre
                >
                <div class="partnersycontratacion-card-grid1">
                  {% for partner in partners %}
                  <div class="partnersycontratacion-product-info-card1">
                    <div class="partnersycontratacion-image1"></div>
                    <div class="partnersycontratacion-body1">
                      <div class="partnersycontratacion-text152">
                        <span class="partnersycontratacion-text153 BodyStrong">
                          <span
                            >***{{ partner.first_name }} {{ partner.last_name
                            }}</span
                          >
                        </span>
                      </div>
                      <div class="partnersycontratacion-rating1">
                        <img
                          src="{% static 'images/star.svg' %}"
                          alt="Star1582"
                          class="partnersycontratacion-star10"
                        />
                        <img
                          src="{% static 'images/star.svg' %}"
                          alt="Star1582"
                          class="partnersycontratacion-star11"
                        />
                        <img
                          src="{% static 'images/star.svg' %}"
                          alt="Star1582"
                          class="partnersycontratacion-star12"
                        />
                        <img
                          src="{% static 'images/star.svg' %}"
                          alt="Star1582"
                          class="partnersycontratacion-star13"
                        />
                        <img
                          src="{% static 'images/star.svg' %}"
                          alt="Star1582"
                          class="partnersycontratacion-star14"
                        />
                      </div>
                      <div class="partnersycontratacion-section12">
                        <div class="partnersycontratacion-keyword-list11">
                          <div class="partnersycontratacion-tag13">
                            <span
                              class="partnersycontratacion-text155 SingleLineBodyBase"
                            >
                              <span>Peluquería</span>
                            </span>
                          </div>
                          <div class="partnersycontratacion-tag14">
                            <span
                              class="partnersycontratacion-text157 SingleLineBodyBase"
                            >
                              <span>Cuidado</span>
                            </span>
                          </div>
                          <div class="partnersycontratacion-tag15">
                            <span
                              class="partnersycontratacion-text159 SingleLineBodyBase"
                            >
                              <span>Paseos</span>
                            </span>
                          </div>
                        </div>
                      </div>

                      <!-- Redirección a la respectiva pagina-->
                      <button class="partnersycontratacion-button12">
                        <span
                          class="partnersycontratacion-text161 SingleLineBodyBase"
                        >
                          <span>Ver más</span>
                        </span>
                      </button>
                      <div class="partnersycontratacion-text-strong1"></div>
                    </div>
                  </div>
                  {% endfor %}
                  <div class="partnersycontratacion-product-info-card2">
                    <div class="partnersycontratacion-image2"></div>
                    <div class="partnersycontratacion-body2">
                      <div class="partnersycontratacion-text163">
                        <span class="partnersycontratacion-text164 BodyStrong">
                          <span>Paulo Molina</span>
                        </span>
                      </div>
                      <div class="partnersycontratacion-rating2">
                        <img
                          src="{% static 'images/star.svg' %}"
                          alt="Star1582"
                          class="partnersycontratacion-star15"
                        />
                        <img
                          src="{% static 'images/star.svg' %}"
                          alt="Star1582"
                          class="partnersycontratacion-star16"
                        />
                        <img
                          src="{% static 'images/star.svg' %}"
                          alt="Star1582"
                          class="partnersycontratacion-star17"
                        />
                        <img
                          src="{% static 'images/star.svg' %}"
                          alt="Star1582"
                          class="partnersycontratacion-star18"
                        />
                        <img
                          src="{% static 'images/star.svg' %}"
                          alt="Star1582"
                          class="partnersycontratacion-star19"
                        />
                      </div>
                      <div class="partnersycontratacion-section13">
                        <div class="partnersycontratacion-keyword-list12">
                          <div class="partnersycontratacion-tag16">
                            <span
                              class="partnersycontratacion-text166 SingleLineBodyBase"
                            >
                              <span>Peluquería</span>
                            </span>
                          </div>
                          <div class="partnersycontratacion-tag17">
                            <span
                              class="partnersycontratacion-text168 SingleLineBodyBase"
                            >
                              <span>Cuidado</span>
                            </span>
                          </div>
                          <div class="partnersycontratacion-tag18">
                            <span
                              class="partnersycontratacion-text170 SingleLineBodyBase"
                            >
                              <span>Paseos</span>
                            </span>
                          </div>
                        </div>
                      </div>

                      <!-- Redirección a la respectiva pagina-->
                      <button class="partnersycontratacion-button13">
                        <span
                          class="partnersycontratacion-text172 SingleLineBodyBase"
                        >
                          <span>Ver más</span>
                        </span>
                      </button>
                      <div class="partnersycontratacion-text-strong2"></div>
                    </div>
                  </div>
                  <div class="partnersycontratacion-product-info-card3">
                    <div class="partnersycontratacion-image3"></div>
                    <div class="partnersycontratacion-body3">
                      <div class="partnersycontratacion-text174">
                        <span class="partnersycontratacion-text175 BodyStrong">
                          <span>Carla Loncuante</span>
                        </span>
                      </div>
                      <div class="partnersycontratacion-rating3">
                        <img
                          src="{% static 'images/star.svg' %}"
                          alt="Star1582"
                          class="partnersycontratacion-star20"
                        />
                        <img
                          src="{% static 'images/star.svg' %}"
                          alt="Star1582"
                          class="partnersycontratacion-star21"
                        />
                        <img
                          src="{% static 'images/star.svg' %}"
                          alt="Star1582"
                          class="partnersycontratacion-star22"
                        />
                        <img
                          src="{% static 'images/star.svg' %}"
                          alt="Star1582"
                          class="partnersycontratacion-star23"
                        />
                        <img
                          src="{% static 'images/star.svg' %}"
                          alt="Star1582"
                          class="partnersycontratacion-star24"
                        />
                      </div>
                      <div class="partnersycontratacion-section14">
                        <div class="partnersycontratacion-keyword-list13">
                          <div class="partnersycontratacion-tag19">
                            <span
                              class="partnersycontratacion-text177 SingleLineBodyBase"
                            >
                              <span>Peluquería</span>
                            </span>
                          </div>
                          <div class="partnersycontratacion-tag20">
                            <span
                              class="partnersycontratacion-text179 SingleLineBodyBase"
                            >
                              <span>Cuidado</span>
                            </span>
                          </div>
                          <div class="partnersycontratacion-tag21">
                            <span
                              class="partnersycontratacion-text181 SingleLineBodyBase"
                            >
                              <span>Paseos</span>
                            </span>
                          </div>
                        </div>
                      </div>

                      <!-- Redirección a la respectiva pagina-->
                      <button class="partnersycontratacion-button14">
                        <span
                          class="partnersycontratacion-text183 SingleLineBodyBase"
                        >
                          <span>Ver más</span>
                        </span>
                      </button>
                      <div class="partnersycontratacion-text-strong3"></div>
                    </div>
                  </div>
                </div>
                <div class="partnersycontratacion-card-grid2">
                  <div class="partnersycontratacion-product-info-card4">
                    <div class="partnersycontratacion-image4"></div>
                    <div class="partnersycontratacion-body4">
                      <div class="partnersycontratacion-text185">
                        <span class="partnersycontratacion-text186 BodyStrong">
                          <span>Angela Espinoza</span>
                        </span>
                      </div>
                      <div class="partnersycontratacion-rating4">
                        <img
                          src="{% static 'images/star.svg' %}"
                          alt="Star1582"
                          class="partnersycontratacion-star25"
                        />
                        <img
                          src="{% static 'images/star.svg' %}"
                          alt="Star1582"
                          class="partnersycontratacion-star26"
                        />
                        <img
                          src="{% static 'images/star.svg' %}"
                          alt="Star1582"
                          class="partnersycontratacion-star27"
                        />
                        <img
                          src="{% static 'images/star.svg' %}"
                          alt="Star1582"
                          class="partnersycontratacion-star28"
                        />
                        <img
                          src="{% static 'images/star.svg' %}"
                          alt="Star1582"
                          class="partnersycontratacion-star29"
                        />
                      </div>
                      <div class="partnersycontratacion-section15">
                        <div class="partnersycontratacion-keyword-list14">
                          <div class="partnersycontratacion-tag22">
                            <span
                              class="partnersycontratacion-text188 SingleLineBodyBase"
                            >
                              <span>Peluquería</span>
                            </span>
                          </div>
                          <div class="partnersycontratacion-tag23">
                            <span
                              class="partnersycontratacion-text190 SingleLineBodyBase"
                            >
                              <span>Cuidado</span>
                            </span>
                          </div>
                          <div class="partnersycontratacion-tag24">
                            <span
                              class="partnersycontratacion-text192 SingleLineBodyBase"
                            >
                              <span>Paseos</span>
                            </span>
                          </div>
                        </div>
                      </div>

                      <!-- Redirección a la respectiva pagina-->
                      <button class="partnersycontratacion-button15">
                        <span
                          class="partnersycontratacion-text194 SingleLineBodyBase"
                        >
                          <span>Ver más</span>
                        </span>
                      </button>
                      <div class="partnersycontratacion-text-strong4"></div>
                    </div>
                  </div>
                  <div class="partnersycontratacion-product-info-card5">
                    <div class="partnersycontratacion-image5"></div>
                    <div class="partnersycontratacion-body5">
                      <div class="partnersycontratacion-text196">
                        <span class="partnersycontratacion-text197 BodyStrong">
                          <span>Rodrigo Crifostomo</span>
                        </span>
                      </div>
                      <div class="partnersycontratacion-rating5">
                        <img
                          src="{% static 'images/star.svg' %}"
                          alt="Star1582"
                          class="partnersycontratacion-star30"
                        />
                        <img
                          src="{% static 'images/star.svg' %}"
                          alt="Star1582"
                          class="partnersycontratacion-star31"
                        />
                        <img
                          src="{% static 'images/star.svg' %}"
                          alt="Star1582"
                          class="partnersycontratacion-star32"
                        />
                        <img
                          src="{% static 'images/star.svg' %}"
                          alt="Star1582"
                          class="partnersycontratacion-star33"
                        />
                        <img
                          src="{% static 'images/star.svg' %}"
                          alt="Star1582"
                          class="partnersycontratacion-star34"
                        />
                      </div>
                      <div class="partnersycontratacion-section16">
                        <div class="partnersycontratacion-keyword-list15">
                          <div class="partnersycontratacion-tag25">
                            <span
                              class="partnersycontratacion-text199 SingleLineBodyBase"
                            >
                              <span>Peluquería</span>
                            </span>
                          </div>
                          <div class="partnersycontratacion-tag26">
                            <span
                              class="partnersycontratacion-text201 SingleLineBodyBase"
                            >
                              <span>Cuidado</span>
                            </span>
                          </div>
                          <div class="partnersycontratacion-tag27">
                            <span
                              class="partnersycontratacion-text203 SingleLineBodyBase"
                            >
                              <span>Paseos</span>
                            </span>
                          </div>
                        </div>
                      </div>

                      <!-- Redirección a la respectiva pagina-->
                      <button class="partnersycontratacion-button16">
                        <span
                          class="partnersycontratacion-text205 SingleLineBodyBase"
                        >
                          <span>Ver más</span>
                        </span>
                      </button>

                      <div class="partnersycontratacion-text-strong5"></div>
                    </div>
                  </div>
                  <div class="partnersycontratacion-product-info-card6">
                    <div class="partnersycontratacion-image6"></div>
                    <div class="partnersycontratacion-body6">
                      <div class="partnersycontratacion-text207">
                        <span class="partnersycontratacion-text208 BodyStrong">
                          <span>Axel Rios</span>
                        </span>
                      </div>
                      <div class="partnersycontratacion-rating6">
                        <img
                          src="{% static 'images/star.svg' %}"
                          alt="Star1582"
                          class="partnersycontratacion-star35"
                        />
                        <img
                          src="{% static 'images/star.svg' %}"
                          alt="Star1582"
                          class="partnersycontratacion-star36"
                        />
                        <img
                          src="{% static 'images/star.svg' %}"
                          alt="Star1582"
                          class="partnersycontratacion-star37"
                        />
                        <img
                          src="{% static 'images/star.svg' %}"
                          alt="Star1582"
                          class="partnersycontratacion-star38"
                        />
                        <img
                          src="{% static 'images/star.svg' %}"
                          alt="Star1582"
                          class="partnersycontratacion-star39"
                        />
                      </div>
                      <div class="partnersycontratacion-section17">
                        <div class="partnersycontratacion-keyword-list16">
                          <div class="partnersycontratacion-tag28">
                            <span
                              class="partnersycontratacion-text210 SingleLineBodyBase"
                            >
                              <span>Peluquería</span>
                            </span>
                          </div>
                          <div class="partnersycontratacion-tag29">
                            <span
                              class="partnersycontratacion-text212 SingleLineBodyBase"
                            >
                              <span>Cuidado</span>
                            </span>
                          </div>
                          <div class="partnersycontratacion-tag30">
                            <span
                              class="partnersycontratacion-text214 SingleLineBodyBase"
                            >
                              <span>Paseos</span>
                            </span>
                          </div>
                        </div>
                      </div>

                      <!-- Redirección a la respectiva pagina-->
                      <button class="partnersycontratacion-button17">
                        <span
                          class="partnersycontratacion-text216 SingleLineBodyBase"
                        >
                          <span>Ver más</span>
                        </span>
                      </button>

                      <div class="partnersycontratacion-text-strong6"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="index-footer">
              <div class="index-title1">
                <img
                  src="{% static 'images/logo2.png' %}"
                  alt="IMAGE2111261"
                  class="index-image2112"
                />
                <span class="index-text72 BodyStrong">
                  <span>Nuestras redes</span>
                </span>
                <button class="index-button-list">
                  <img
                    src="{% static 'images/logox.svg' %}"
                    alt="XLogo1261"
                    class="index-x-logo"
                  />
                  <img
                    src="{% static 'images/logoinstagram.svg' %}"
                    alt="LogoInstagram1261"
                    class="index-logo-instagram"
                  />
                  <img
                    src="{% static 'images/logoyoutube.svg' %}"
                    alt="LogoYouTube1261"
                    class="index-logo-you-tube"
                  />
                  <img
                    src="{% static 'images/logolinkedin.svg' %}"
                    alt="LinkedIn1261"
                    class="index-linked-in"
                  />
                </button>
              </div>
              <div class="index-text-link-list1">
                <div class="index-title2">
                  <div class="index-text-strong1">
                    <span class="index-text74 BodyStrong">
                      <span>Contacto</span>
                    </span>
                  </div>
                </div>
                <div class="index-text-link-list-item10">
                  <span class="index-text76 BodyLink">
                    <span>Mail: petti@gmail.com</span>
                  </span>
                </div>
                <div class="index-text-link-list-item11">
                  <span class="index-text78 BodyLink">
                    <span>Whatsapp: +999 99999999</span>
                  </span>
                </div>
                <div class="index-text-link-list-item12">
                  <span class="index-text80 BodyLink">
                    <span>Fono: +999 99999999</span>
                  </span>
                </div>
                <div class="index-text-link-list-item13"></div>
                <div class="index-text-link-list-item14"></div>
                <div class="index-text-link-list-item15"></div>
                <div class="index-text-link-list-item16"></div>
              </div>
              <div class="index-text-link-list2">
                <div class="index-title3">
                  <div class="index-text-strong2">
                    <span class="index-text82 BodyStrong">
                      <span>Petti</span>
                    </span>
                  </div>
                </div>
                <div class="index-text-link-list-item17">
                  <span class="index-text84 BodyLink">
                    <span>Acerca de Petti</span>
                  </span>
                </div>
                <div class="index-text-link-list-item18">
                  <span class="index-text86 BodyLink">
                    <span>Trabaja con nosotros</span>
                  </span>
                </div>
                <div class="index-text-link-list-item19"></div>
                <div class="index-text-link-list-item20"></div>
                <div class="index-text-link-list-item21"></div>
                <div class="index-text-link-list-item22"></div>
                <div class="index-text-link-list-item23">
                  <span class="index-text88 BodyBase"></span>
                </div>
              </div>
              <div class="index-text-link-list3">
                <div class="index-title4">
                  <div class="index-text-strong3">
                    <span class="index-text89 BodyStrong">
                      <span>Links de interés</span>
                    </span>
                  </div>
                </div>
                <div class="index-text-link-list-item24">
                  <span class="index-text91 BodyLink">
                    <span>Términos y condiciones</span>
                  </span>
                </div>
                <div class="index-text-link-list-item25">
                  <span class="index-text93 BodyLink">
                    <span>Politica de privacidad</span>
                  </span>
                </div>
                <div class="index-text-link-list-item26">
                  <span class="index-text95 BodyLink">
                    <span>Preguntas frecuentes</span>
                  </span>
                </div>
                <div class="index-text-link-list-item27">
                  <span class="index-text97 BodyBase"></span>
                </div>
                <div class="index-text-link-list-item28">
                  <span class="index-text98 BodyBase"></span>
                </div>
                <div class="index-text-link-list-item29">
                  <span class="index-text99 BodyBase"></span>
                </div>
                <div class="index-text-link-list-item30">
                  <span class="index-text100 BodyBase"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
