{% load static %}

<!DOCTYPE html>
<html lang="english">
  <head>
    <title>Petti</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {
        line-height: 1.15;
      }
      body {
        margin: 0;
      }
      * {
        box-sizing: border-box;
        border-width: 0;
        border-style: solid;
      }
      p,
      li,
      ul,
      pre,
      div,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      figure,
      blockquote,
      figcaption {
        margin: 0;
        padding: 0;
      }
      button {
        background-color: transparent;
      }
      button,
      input,
      optgroup,
      select,
      textarea {
        font-family: inherit;
        font-size: 100%;
        line-height: 1.15;
        margin: 0;
      }
      button,
      select {
        text-transform: none;
      }
      button,
      [type="button"],
      [type="reset"],
      [type="submit"] {
        -webkit-appearance: button;
      }
      button::-moz-focus-inner,
      [type="button"]::-moz-focus-inner,
      [type="reset"]::-moz-focus-inner,
      [type="submit"]::-moz-focus-inner {
        border-style: none;
        padding: 0;
      }
      button:-moz-focus,
      [type="button"]:-moz-focus,
      [type="reset"]:-moz-focus,
      [type="submit"]:-moz-focus {
        outline: 1px dotted ButtonText;
      }
      a {
        color: inherit;
        text-decoration: inherit;
      }
      input {
        padding: 2px 4px;
      }
      img {
        display: block;
      }
      html {
        scroll-behavior: smooth;
      }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-theme-neutral-dark);
        background: var(--dl-color-theme-neutral-light);

        fill: var(--dl-color-theme-neutral-dark);
      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
  </head>
  <body>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <div>
      <link rel="stylesheet" href="{% static 'css/index.css' %}" />

      <div class="index-container">
        <div class="index-index">


          <!-- HEADER -->

          <div class="index-header">
            <a href="{% url 'pettiApp:index' %}">
                <img
                    src="{% static 'images/logo1.png' %}"
                    alt="IMAGE2111261"
                    class="index-image2111"
                />
            </a>
            
            <span style="color: white">
              usuario:
              {% if user.is_authenticated %}
                {{ user.email }}
              {% else %}
                Anónimo
              {% endif %}
            </span>

            <div class="index-navigation-pill-list">
              <div class="index-navigation-pill1"></div>
              <div class="index-navigation-pill2"></div>
              <div class="index-navigation-pill3">
                <span class="index-text10 SingleLineBodyBase">
                  <a href="{% url 'pettiApp:perfil_partner' %}">Perfil Partner</a>
                </span>
              </div>
              <div class="index-navigation-pill4">
                <span class="index-text12 SingleLineBodyBase">
                  <a href="{% url 'pettiApp:busqueda_servicios' %}">Nuestros Servicios</a>
                </span>
              </div>
              <div class="index-navigation-pill5">
                <span class="index-text14 SingleLineBodyBase"></span>
              </div>
            </div>
            <div class="index-header-auth">
              <a href="{% url 'pettiApp:login' %}" class="index-button1"> Iniciar sesión </a>
              
              <a href="{% url 'pettiApp:registro_usuarios' %}" class="index-button2">
                <button>Regístrate</button>
            </a>
            </div>
          </div>

          <!-- HEADER -->



          <div class="index-hero-actions">
            <img
              src="{% static 'images/fondoBienvenida.jpeg' %}"
              alt="Fondo Bienvenida"
              class="index-image"
            />
            <div class="index-text-content-title1">
              <span class="index-text18 TitleHero">
                <span>Bienvenido a Petti</span>
              </span>
            </div>
          </div>

          <div class="index-card-grid-image">
            <div class="index-text-content-heading">
              <span class="index-text20 Heading">
                <span>Nuestros servicios</span>
              </span>
            </div>
            <div class="index-cards">
              <div class="index-card1">
                <div class="index-image1">
                  <img
                      style="border-radius: 50%;"
                      width="200px"
                      
                      src="{% static 'images/paseo.jpeg' %}"
                      alt="Imagen de método de pago"
                      class="perfildeusuario-image2"
                    />
                </div>
                <div class="index-body1">
                  <div class="index-text22">
                    <span class="index-text23 Heading">
                      <span>Paseo para mascotas</span>
                    </span>
                    <span class="index-text25 BodyBase">
                      <span>
                        Nuestros partners brindan paseos seguros y divertidos,
                        asegurando ejercicio y entretenimiento para tu mascota.
                      </span>
                    </span>
                  </div>
                </div>
              </div>
              <div class="index-card2">
                <div class="index-image2">
                  <img
                      style="border-radius: 50%;"
                      width="200px"
                      
                      src="{% static 'images/peluqueria.webp' %}"
                      alt="Imagen de método de pago"
                      class="perfildeusuario-image2"
                    />
                </div>
                <div class="index-body2">
                  <div class="index-text27">
                    
                    <span class="index-text28 Heading">
                      <span>Peluqueria</span>
                    </span>
                    
                    <span class="index-text30 BodyBase">
                      
                      <span>
                        Nuestros partners ofrecen peluquería profesional para
                        que tu mascota luzca impecable en cada visita.
                      </span>
                    </span>
                    
                  </div>
                </div>
              </div>
              <div class="index-card3">
                <div class="index-image3">
                  <img
                      style="border-radius: 50%;"
                      width="200px"
                      
                      src="{% static 'images/hotel.webp' %}"
                      alt="Imagen de método de pago"
                      class="perfildeusuario-image2"
                    />
                </div>
                <div class="index-body3">
                  <div class="index-text32">
                    <span class="index-text33 Heading">
                      <span>Visitas</span>
                    </span>
                    <span class="index-text35 BodyBase">
                      <span>
                        Cuidado personalizado para tu mascota en su hogar, con
                        alimentación, paseos y compañía mientras estás ausente.
                      </span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="index-hero-image">
            <div class="index-text-content-title2">
              <span class="index-text37 TitleHero">
                <span>Hazte partner</span>
              </span>
              <span class="index-text39 Subtitle">
                <span>Unete a nuestros partners y expande tu negocio</span>
              </span>
            </div>
            <button class="index-button-group"></button>
            <button class="index-button3">
              <span class="index-text41 SingleLineBodyBase">
                <span>Unete a nosotos</span>
              </span>
            </button>
          </div>


          <div class="index-card-grid-reviews">
            <div class="index-text-heading1">
              <span class="index-text43 Heading">
                <span>Nuestras opiniones</span>
              </span>
            </div>
            <div class="index-card-grid">
              <div class="index-review-card1">
                <div class="index-rating1">
                  <img
                    src="{% static 'images/star.svg' %}"
                    alt="StarI109"
                    class="index-star10"
                  />
                  <img
                    src="{% static 'images/star.svg' %}"
                    alt="StarI109"
                    class="index-star11"
                  />
                  <img
                    src="{% static 'images/star.svg' %}"
                    alt="StarI109"
                    class="index-star12"
                  />
                  <img
                    src="{% static 'images/star.svg' %}"
                    alt="StarI109"
                    class="index-star13"
                  />
                  <img
                    src="{% static 'images/star.svg' %}"
                    alt="StarI109"
                    class="index-star14"
                  />
                </div>
                <div class="index-review-body1">
                  <div class="index-text-heading2">
                    <span class="index-text45 Heading">
                      <span>Excelente servicio</span>
                    </span>
                  </div>
                  <div class="index-text47">
                    <span class="index-text48 BodySmall">
                      <span>
                        La peluquería para mi perro fue impecable. Salió
                        luciendo genial y bien atendido. Sin duda volveré a
                        utilizar el servicio.
                      </span>
                    </span>
                  </div>
                </div>
                <div class="index-avatar-block1">
                  <div class="index-avatar1">
                    <img
                      src="{% static 'images/user.png' %}"
                      alt="ShapeI109"
                      class="index-shape1"
                    />
                  </div>
                  <div class="index-info1">
                    <span class="index-text50 BodyStrong">
                      <span>Javier López</span>
                    </span>
                    <span class="index-text52 BodySmall">
                      <span>03/09/2024</span>
                    </span>
                  </div>
                </div>
              </div>
              <div class="index-review-card2">
                <div class="index-rating2">
                  <img
                    src="{% static 'images/star.svg' %}"
                    alt="StarI109"
                    class="index-star15"
                  />
                  <img
                    src="{% static 'images/star.svg' %}"
                    alt="StarI109"
                    class="index-star16"
                  />
                  <img
                    src="{% static 'images/star.svg' %}"
                    alt="StarI109"
                    class="index-star17"
                  />
                  <img
                    src="{% static 'images/star.svg' %}"
                    alt="StarI109"
                    class="index-star18"
                  />
                  <img
                    src="{% static 'images/star.svg' %}"
                    alt="StarI109"
                    class="index-star19"
                  />
                </div>
                <div class="index-review-body2">
                  <div class="index-text-heading3">
                    <span class="index-text54 Heading">
                      <span>Buena experiencia</span>
                    </span>
                  </div>
                  <div class="index-text56">
                    <span class="index-text57 BodySmall">
                      <span>
                        Excelente servicio cuidado. Mi perro estuvo feliz y bien
                        cuidado durante mi ausencia. ¡Totalmente recomendado,
                        quede muy contenta!
                      </span>
                    </span>
                  </div>
                </div>
                <div class="index-avatar-block2">
                  <div class="index-avatar2">
                    <img
                      src="{% static 'images/user.png' %}"
                      alt="ShapeI109"
                      class="index-shape2"
                    />
                  </div>
                  <div class="index-info2">
                    <span class="index-text59 BodyStrong">
                      <span>Ana Martínez</span>
                    </span>
                    <span class="index-text61 BodySmall">
                      <span>02/09/2024</span>
                    </span>
                  </div>
                </div>
              </div>
              <div class="index-review-card3">
                <div class="index-rating3">
                  <img
                    src="{% static 'images/star.svg' %}"
                    alt="StarI109"
                    class="index-star20"
                  />
                  <img
                    src="{% static 'images/star.svg' %}"
                    alt="StarI109"
                    class="index-star21"
                  />
                  <img
                    src="{% static 'images/star.svg' %}"
                    alt="StarI109"
                    class="index-star22"
                  />
                  <img
                    src="{% static 'images/star.svg' %}"
                    alt="StarI109"
                    class="index-star23"
                  />
                  <img
                    src="{% static 'images/star.svg' %}"
                    alt="StarI109"
                    class="index-star24"
                  />
                </div>
                <div class="index-review-body3">
                  <div class="index-text-heading4">
                    
                    <span class="index-text63 Heading">
                      <span>Paseos de calidad</span>
                    </span>
                  </div>
                  <div class="index-text65">
                    <span class="index-text66 BodySmall">
                      <span>
                        Los paseos para mi perro han sido fantásticos. Los
                        cuidadores son atentos y profesionales. ¡Muy satisfecho
                        con el servicio!
                      </span>
                    </span>
                  </div>
                </div>
                <div class="index-avatar-block3">
                  <div class="index-avatar3">
                    <img
                      src="{% static 'images/user.png' %}"
                      alt="ShapeI109"
                      class="index-shape3"
                    />
                  </div>
                  <div class="index-info3">
                    <span class="index-text68 BodyStrong">
                      <span>Carlos Gómez</span>
                    </span>
                    <span class="index-text70 BodySmall">
                      <span>09/09/2024</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>




          <!-- Footer -->
          <div class="index-footer">
            <div class="index-title1">
              <img
                src="{% static 'images/logo2.png' %}"
                alt="IMAGE2111261"
                class="index-image2112"
              />
              <span class="index-text72 BodyStrong">
                <span>Nuestras redes</span>
              </span>
              <button class="index-button-list">
                <img
                  src="{% static 'images/logox.svg' %}"
                  alt="XLogo1261"
                  class="index-x-logo"
                />
                <img
                  src="{% static 'images/logoinstagram.svg' %}"
                  alt="LogoInstagram1261"
                  class="index-logo-instagram"
                />
                <img
                  src="{% static 'images/logoyoutube.svg' %}"
                  alt="LogoYouTube1261"
                  class="index-logo-you-tube"
                />
                <img
                  src="{% static 'images/logolinkedin.svg' %}"
                  alt="LinkedIn1261"
                  class="index-linked-in"
                />
              </button>
            </div>
            <div class="index-text-link-list1">
              <div class="index-title2">
                <div class="index-text-strong1">
                  <span class="index-text74 BodyStrong">
                    <span>Contacto</span>
                  </span>
                </div>
              </div>
              <div class="index-text-link-list-item10">
                <span class="index-text76 BodyLink">
                  <span>Mail: petti@gmail.com</span>
                </span>
              </div>
              <div class="index-text-link-list-item11">
                <span class="index-text78 BodyLink">
                  <span>Whatsapp: +999 99999999</span>
                </span>
              </div>
              <div class="index-text-link-list-item12">
                <span class="index-text80 BodyLink">
                  <span>Fono: +999 99999999</span>
                </span>
              </div>
              <div class="index-text-link-list-item13"></div>
              <div class="index-text-link-list-item14"></div>
              <div class="index-text-link-list-item15"></div>
              <div class="index-text-link-list-item16"></div>
            </div>
            <div class="index-text-link-list2">
              <div class="index-title3">
                <div class="index-text-strong2">
                  <span class="index-text82 BodyStrong">
                    <span>Petti</span>
                  </span>
                </div>
              </div>
              <div class="index-text-link-list-item17">
                <span class="index-text84 BodyLink">
                  <span>Acerca de Petti</span>
                </span>
              </div>
              <div class="index-text-link-list-item18">
                <span class="index-text86 BodyLink">
                  <span>Trabaja con nosotros</span>
                </span>
              </div>
              <div class="index-text-link-list-item19"></div>
              <div class="index-text-link-list-item20"></div>
              <div class="index-text-link-list-item21"></div>
              <div class="index-text-link-list-item22"></div>
              <div class="index-text-link-list-item23">
                <span class="index-text88 BodyBase"></span>
              </div>
            </div>
            <div class="index-text-link-list3">
              <div class="index-title4">
                <div class="index-text-strong3">
                  <span class="index-text89 BodyStrong">
                    <span>Links de interés</span>
                  </span>
                </div>
              </div>
              <div class="index-text-link-list-item24">
                <span class="index-text91 BodyLink">
                  <span>Términos y condiciones</span>
                </span>
              </div>
              <div class="index-text-link-list-item25">
                <span class="index-text93 BodyLink">
                  <span>Politica de privacidad</span>
                </span>
              </div>
              <div class="index-text-link-list-item26">
                <span class="index-text95 BodyLink">
                  <span>Preguntas frecuentes</span>
                </span>
              </div>
              <div class="index-text-link-list-item27">
                <span class="index-text97 BodyBase"></span>
              </div>
              <div class="index-text-link-list-item28">
                <span class="index-text98 BodyBase"></span>
              </div>
              <div class="index-text-link-list-item29">
                <span class="index-text99 BodyBase"></span>
              </div>
              <div class="index-text-link-list-item30">
                <span class="index-text100 BodyBase"></span>
              </div>
            </div>
          </div>


          <!-- Footer -->






        </div>
      </div>
    </div>
  </body>
</html>
