:root {
    --dl-size-size-large: 144px;
    --dl-size-size-small: 48px;
    --dl-size-size-medium: 96px;
    --dl-size-size-xlarge: 192px;
    --dl-size-size-xsmall: 16px;
    --dl-space-space-unit: 16px;
    --dl-size-size-xxlarge: 288px;
    --dl-size-size-maxwidth: 1400px;
    --dl-color-theme-accent1: #FFFFFF;
    --dl-color-theme-accent2: #F5D1B0;
    --dl-radius-radius-round: 50%;
    --dl-color-theme-primary1: #BF4408;
    --dl-color-theme-primary2: #E65103;
    --dl-space-space-halfunit: 8px;
    --dl-space-space-sixunits: 96px;
    --dl-space-space-twounits: 32px;
    --dl-color-default-primary: rgba(184, 142, 47, 1);
    --dl-radius-radius-radius2: 2px;
    --dl-radius-radius-radius4: 4px;
    --dl-radius-radius-radius8: 8px;
    --dl-space-space-fiveunits: 80px;
    --dl-space-space-fourunits: 64px;
    --dl-color-theme-secondary1: #FFFFFF;
    --dl-color-theme-secondary2: #FBF1EB;
    --dl-space-space-threeunits: 48px;
    --dl-color-theme-neutral-dark: #191818;
    --dl-radius-radius-cardradius: 8px;
    --dl-color-theme-neutral-light: #FBFAF9;
    --dl-radius-radius-imageradius: 8px;
    --dl-radius-radius-inputradius: 24px;
    --dl-radius-radius-buttonradius: 24px;
    --dl-space-space-oneandhalfunits: 24px;
  }

  .index-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }

  .index-index {
    width: 100%;
    height: auto;
    display: flex;
    overflow: hidden;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
    background-color: rgba(253, 253, 250, 1);
  }

  .index-header {
    gap: 24px;
    width: 100%;
    display: flex;
    padding: 32px;
    overflow: hidden;
    flex-wrap: wrap;
    align-items: center;
    flex-shrink: 0;
    padding-right: var(--dl-space-space-oneandhalfunits);
    background-color: rgba(2, 16, 89, 1);
  }

  .index-image2111 {
    width: 127px;
    height: 52px;
  }